# Moonrepo artifacts
.moon/cache/
.moon/docker/

# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Mac
.DS_Store

# Windows
Thumbs.db

# OS
dist/
build/
coverage/


# SvelteKit
.svelte-kit/

# Go
/apps/taassistant-api/gen/
*.exe
*.test
vendor/
go.work

