swagger: "2.0"
info:
    title: Technical Analysis Assistant API
    description: API for managing watchlist and providing strategy insights
    version: 0.0.1
host: localhost:8080
consumes:
    - application/json
    - application/xml
    - application/gob
produces:
    - application/json
    - application/xml
    - application/gob
paths:
    /insights:
        get:
            tags:
                - insights
            summary: list insights
            operationId: insights#list
            parameters:
                - name: X-User-ID
                  in: header
                  description: User ID
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Insight'
            schemes:
                - http
    /watchlist:
        get:
            tags:
                - watchlist
            summary: list watchlist
            operationId: watchlist#list
            parameters:
                - name: X-User-ID
                  in: header
                  description: User ID
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/TickerItem'
            schemes:
                - http
        post:
            tags:
                - watchlist
            summary: add watchlist
            operationId: watchlist#add
            parameters:
                - name: X-User-ID
                  in: header
                  description: User ID
                  required: true
                  type: string
                - name: AddRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/WatchlistAddRequestBody'
                    required:
                        - symbol
                        - on_hand
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/TickerItem'
                        required:
                            - symbol
                            - on_hand
            schemes:
                - http
    /watchlist/{symbol}:
        delete:
            tags:
                - watchlist
            summary: remove watchlist
            operationId: watchlist#remove
            parameters:
                - name: symbol
                  in: path
                  required: true
                  type: string
                - name: X-User-ID
                  in: header
                  description: User ID
                  required: true
                  type: string
            responses:
                "204":
                    description: No Content response.
            schemes:
                - http
definitions:
    Insight:
        title: Insight
        type: object
        properties:
            action:
                type: string
                description: Recommended Action
                example: Quasi eligendi optio.
            sentiment:
                type: string
                description: Market Sentiment
                example: bearish
                enum:
                    - bullish
                    - bearish
                    - neutral
            summary:
                type: string
                description: Analysis Summary
                example: Suscipit sapiente culpa laboriosam tempore.
            symbol:
                type: string
                description: Stock Symbol
                example: Enim eius.
        example:
            action: Est exercitationem rerum.
            sentiment: neutral
            summary: Dicta quia.
            symbol: Qui vel ullam quia autem ut.
        required:
            - symbol
            - sentiment
            - summary
            - action
    TickerItem:
        title: TickerItem
        type: object
        properties:
            created_at:
                type: string
                description: Creation timestamp
                example: "2023-10-27T10:00:00Z"
                format: date-time
            on_hand:
                type: boolean
                description: Whether user holds the stock
                example: true
            symbol:
                type: string
                description: Stock Symbol
                example: AAPL
        example:
            created_at: "2023-10-27T10:00:00Z"
            on_hand: true
            symbol: AAPL
        required:
            - symbol
            - on_hand
    WatchlistAddRequestBody:
        title: WatchlistAddRequestBody
        type: object
        properties:
            on_hand:
                type: boolean
                example: false
            symbol:
                type: string
                example: Eos harum omnis voluptas.
        example:
            on_hand: false
            symbol: Non impedit adipisci impedit rem voluptas.
        required:
            - symbol
            - on_hand
